#navbar{
    padding: 2%;
    .lists{
        ul{
            @include flex1 (space-between,center);
            li{
                list-style: none;
                cursor: pointer;
            }
            p{
                margin: 0;
                cursor: pointer;
            }
            .az{
            background: $secondcolor;
            border-radius: 35px;
            padding: 0.7% 2%;
            }
            .sari{
                border-radius: 50%;
                background:$maincolor;
                padding: 9px 11px 13px 10px;
               @include flex1(center,center)
            }
        }
    }
  
    @media screen and (min-width: 390px) and (max-width: 414px) {
        .lists{
            ul{
    display: none;
            }
        }
        .logo{
            img{
                padding: 10px;
            }
        }
    }
    @media screen and (min-width: 414px) and (max-width: 768px) {
        .lists{
            ul{
    display: none;
            }
        }
        .logo{
            img{
                padding: 10px;
            }
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {}
}
#header{
    background-color: #f7f2f2;
    padding: 16px;
    border-radius: 50px;
    .righthead{
        width: 60%;
        .headsmall{
            font-size: small
        }
        .f600{
            font-weight: $font7;
        }
        .bigtext{
            font-size: 60px;
            font-weight: $font7;
        }
        .smalltext{
            font-size: small
        }
        .foothead{
            @include flex1(space-around,center);
            width: $wight7;
            .button-2{
                button{
                    background-color: $maincolor;
                    color: $blackkk;
                    border: none;
                    border-radius: 50px;
                    padding: 2px 42px 2px 42px;
                }
    
            }
            @media screen and (min-width: 390px) and (max-width: 414px){
            button{
                margin-left: 60px;
            }
            }
            .textfoot{
                margin-left: 20px;
            }
                font-size: small;
                p{
                    margin: 0;
                }
             .grayt{
                color:$blackkk;
            }
            .redt{
                color: red;
            }   
            }
        }
      .lefthead{
        img{
            width: 100%;
            object-fit: cover;
        }
    }  
    }
#main1{
    .text1{
        padding: 30px 50px;
        font-size: large;
    }
    .bigmain1{
        padding: 8px 22px 16px 30px;
    font-size: 45px;
    font-weight: 600;
    }
    .icontext{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        p{
            margin: 0;
            font-size: large;
        }
    }
    // @media screen and (min-width: 390px) and (max-width: 414px){

    // }
}

#main2{
    .bigmain2{
        padding: 30px 22px 16px 30px;
    font-size: 45px;
    font-weight: 600;
    }  
    .blackcon{
        color: white;
        background-color: $blackkk;
        border-radius: 20px;
        border: none;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        .list{
            ul{
                li{
                    font-size: 25px;
                    font-weight: $font7;
                }
            }
        }
        .smallt{
            font-size: small;
        }
      @media screen and (min-width: 390px) and (max-width: 414px){
        margin-bottom: 20px;
    }  
    }
    
}
    
